body {
	margin: 0px;
	padding: 0px;
	font-family: "Courier New", Courier, monospace;
	background: linear-gradient(141deg, #9fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
	background-repeat: no-repeat;
	background-attachment: fixed;
	font-size: 50px;
}

button {
	cursor: pointer;
}